.quizz__container {
    width: 80%;
    margin: auto;
    margin-top: 5%;
}

.quizz_logo {
    height: 9vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
}

.quizz_logo > img {
    margin-bottom: 2%;
    height: 6vw;
}

.quizz_logo > h3 {
    font-size: 1.5vw;
}

.quizz_question {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #4224d9;
    border-radius: 8px;
    background-color: #654ED2;
    width: 100%;
    height: 22vh;
    font-size: 1.28vw;
    font-family: 'Segoe UI';
    margin-bottom: 20px;
}

.quizz_options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.btn-option {
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid #18ab29;
    width: 40%;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 1.2vw;
    padding: 16px 31px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
    margin: 0% 1% 2% 1%;
}

.btn-option:hover {
    background-color: #5cbf2a;
}

.btn-option:active {
    position: relative;
    top: 1px;
}

.quizz_results {
    width: 100%;
    height: 25vh;

    background-color: rgb(33,2,57);

    border-radius: 10px;
    padding: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quizz_results > h1 {
    margin-bottom: 2%;
    font-size: 2.2vw;
}

.quizz_results > p {
    margin-bottom: 2%;
    font-size: 1.5vw;
}

@media screen and (max-width: 430px) {
    .quizz__container {
        width: 80%;
        height: 80%;
        margin: auto;
        margin-top: 5%;
    }
    
    .quizz_logo {
        height: 20vw;
        width: auto;
        margin-bottom: 4%;
    }
    
    .quizz_logo > img {
        margin-bottom: 4%;
        height: 12vw;
    }
    
    .quizz_logo > h3 {
        font-size: 5vw;
    }
    
    .quizz_question {
        width: 100%;
        height: 22vh;
        font-size: 4vw;
        margin-bottom: 4%;
    }

    .quizz_question > h3 {
        margin: 5%;
        text-align: center;
    }
    
    .btn-option {
        width: 90%;
        font-size: 4.66vw;
        padding: 16px 31px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #2f6627;
        margin: 0% 2% 4% 2%;
    }
    
    .btn-option:hover {
        background-color: #5cbf2a;
    }
    
    .btn-option:active {
        position: relative;
        top: 1px;
    }
    
    .quizz_results {
        width: 100%;
        height: 25vh;
    }
    
    .quizz_results > h1 {
        font-size: 4.66vw;
        margin-bottom: 4%;
    }
    
    .quizz_results > p {
        font-size: 4vw;
        margin: 5%;
        text-align: center;
    }
}